* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    background-color: #41A317;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.title h2 {
    position: absolute;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 5px;
    color: #fff;
    font-family: serif;

}

.logo {
    position: absolute;
    margin-top: 6px;
    margin-left: 40px;
}

.image {
    position: absolute;
    margin-top: 190px;
    margin-left: 800px;
}

.dropdown {
    margin-left: 1000px;
    position: absolute;
    padding: 10px;
    display: block;
    overflow: hidden;
}

.dropdown a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
}

.dropdown a:hover {
    background-color: #fff;
    color: #000;
    background-size: cover;
    box-shadow: 5px 5px 10px black;
}

.container {
    background-color:#aadd93;
    width: 8%;
    min-width: 30.0em;
    padding: 5.12em 1.87em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 150px;
    box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
    border-radius: 0.5em;
}

input[type="file"] {
    display: none;
}
.container2 p{
    position: absolute;
    font-family:serif;
    font-weight: bold;
    color:#000;
    margin-top:80px;
    left:100px;
    right:100px;
    text-align:center;
    line-height: 35px;
    font-size: 18px;
}
button{
    display: block;
    position: relative;
    background-color: #41A317;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 17em;
    padding: 10px;
    border-radius: 0.3em;
    margin: 0 auto 1em;
    cursor: pointer;
    text-decoration: none;
    border-color: #41A317;
}
.upload p{
    font-size: 20px;
    margin-top:40px;
}
label {
    display: block;
    position: relative;
    background-color: #41A317;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 16em;
    padding: 10px;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
}

#image-display {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 1.25em;
    flex-wrap: wrap;
    
}

#image-display figure {
    width: 45%;
}

#image-display img {
    width: 0%;

}

#image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
}

.active {
    border: 0.2em dashed #41A317;
}

#error {
    text-align: center;
    color: #ff3030;
}
.background {
    top:390px;
    left:0;
    right:10px;
}