*{
    margin:0;
    padding:0;
}
.container{
    background-color: #aed4e3;
    height:390px;
    width:260px;
    margin-top: 80px;
    margin-left: 38%;
    border-radius:5px;
    display:flex;
    position:absolute;
    padding:60px;
    box-shadow: #626766;
    border-color: #031c08;

}
h1{
    margin-left:70px;
}
.form-group{
    margin:20px;
    font-size: 20px;

}
.form-control{
    width:230px;
    border-radius: 5px;
    padding:8px;
    border-color:#3bc6b8;
}
.btn{
    padding:5px;
    width:80px;
    outline:none;
    margin-left:35%;
    font-size: 17px;
    border-radius: 6px;
    border-color: #1f3c51;
    box-shadow: #2c78c0;
    background-color:#0096FF;
    color:white;
}
.ac{
    text-align: center;
    color:black;
    margin:10px;
}